#iteratons in python
1. iterations means loops to work with repeative tasks or repeative perfomances
2. python have 2 types of literators
3. `for loop`
4. `while`loop

```python - for loop
for iter_variable
    print("for is keyword to start the for loop")
    print("iter_variable is one of type of variable yo literate data from sequence")
    print("in is keyword to validate sequence is present or not")
    print("sequence is collection like range,list ,string,tuple,...etc")
    ```

```pyton - while loop
while (condition):
      print("while is keyword to start the literation based on condition ")
      print("condition is true then executed inside statements")
```

In [1]:
#write a program to print 1 yo 50 numbers using for loop?
for num in range(1,51):
    print (num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
#write a program to literate name using  for loop
name="shivaji"
for char in name:
    print(char)

s
h
i
v
a
j
i

In [6]:
#write a program to find the even numbers in between 100 to 150 using for loop?
for n in range (100,151):
    if (n%2==0):
        print(n,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,

In [7]:
#write a program to find the odd numbers in between 100 to 150 using for loop?
for n in range (100,151):
    if (n%2==1):
        print(n,end=",")

101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,

In [8]:
#write a program to find the vowels from string using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if (char in "aeiouAEIOU"):
        print(char)

please enter your name here: Ruthvek

u
e

In [12]:
#write a program to find the non-vowels from string using for lopp?
name=str(input("please enter your name here:"))
for char in name:
         if (char not in "aeiouAEIOU"):
             print(char)

please enter your name here: ruthvek

r
t
h
v
k

In [1]:
#write a program to read name from list using for loop
names=["vikas","shivaji",'aditya','chandra']
for n in names:
    print("my name is",n)

my name is vikas
my name is shivaji
my name is aditya
my name is chandra

In [2]:
#write a program to print 1 to 100 numbers using for loop and while loop

for num in range(1,101):
    print(num,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [5]:
sn=1
en=100
while (sn<=en):
    print(sn,end=",")
    sn=sn+1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [13]:
#write a program to print even numbers in between 300 to 450 using for loop and while loop?
for i in range(300 , 451):
    if(i%2==0):
        print(i,end=",")

300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,

In [20]:
#write a program to print sum of all even numbers and odd numbers using for loop and while loop?
se=0
so=0
for n in range(1,101):
    if (n%2==0):
        se=se+n
    elif (n%2==1):
        so=so+1
print("sum of even numbers in between 1 to 100 is",se)
print("sum of odd numbers in between 1 to 100 is",so)

sum of even numbers in between 1 to 100 is 2550
sum of odd numbers in between 1 to 100 is 50

In [4]:
sn=1
en=100
se=0
so=0
while (sn<=en):
    if(sn%2==0):
        se=se+sn
    elif (sn%2==1):
        so=so+sn
    sn=sn+1        
print("sum of even numbers in between 1 to 100 is",se)
print("sum of odd numbers in between 1 to 100 is",so)

sum of even numbers in between 1 to 100 is 2550
sum of odd numbers in between 1 to 100 is 2500

In [13]:
for n in range(100,151):
     if(n%2==0):
         print(n,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,